body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.vote {
  background: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.votes {
  display: flex;
  flex-direction: row;
}

